<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<img th:src="@{/img/logosn.png}" alt="">
<form th:action="@{/user/login}">
    <h1 th:text="#{login.tip}"></h1>
    <!--如果msg的值为空就不显示-->
    <p style="color: red;" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
    <input type="text" name="username" th:placeholder="#{login.username}"><br>
    <input type="text" name="password" th:placeholder="#{login.password}"><br>
    <input type="text" th:placeholder="#{login.sign}"><br>
    <button type="submit" style="background-color: aquamarine">[[#{login.tip}]]</button>
    <a th:href="@{/index.html(l=zh_CN)}">中文</a>
    <a th:href="@{/index.html(l=en_US)}">English</a>
</form>
</body>
</html>